# Publish to the public npm registry
registry=https://registry.npmjs.org/

# Require exact versions when installing
save-exact=true

# Don't create package-lock in workspace packages
package-lock=true
